
# Copyright notice
# 
#   (c) 2012-2013 Christine Beier (tinabeier@web.de)
#   All rights reserved
# 
#   This script is part of the master thesis "Die mobile Website der 
#   Universität Passau -- Kommunikationskonzept und Usability-Test 
#   eines selbst entwickelten Prototypen". The prototype is free software; 
#   you can redistribute it and/or modify it under the terms of the 
#   GNU Lesser General Public License as published by the Free Software 
#   Foundation; either version 3 of the License, or any later version.
#   The GNU Lesser General Public License can be found at
#  
#   http://www.gnu.org/licenses/lgpl.txt.
# 
#   This script is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
# 
#   This copyright notice MUST APPEAR in all copies of the script!

#alle dokumente auf index.php weiterleiten
#ausser wenn die Datei lokal existiert
AuthUserFile /var/www/unipassaumobil.zitroneneis.org/htdocs/UniGoesMobile/.htpasswd
AuthGroupFile /dev/null
AuthName "Masterarbeit: Mobile Website der Uni Passau, fuer Zugang: tinabeier at web.de"
AuthType Basic

<limit GET POST>
require valid-user
</limit>


RewriteEngine On
#Wir befinden uns im Unterverzeichnis UniGoesMobile und alle Links sind relativ zu diesem Verzeichnis angegeben
RewriteBase /UniGoesMobile/
Options +FollowSymLinks
RewriteRule ^$ website.html [R=301,L]
#statische Dateien der alten Website weiterleiten
RewriteRule ^(typo3|typo3temp|typo3conf|fileadmin|uploads)(.*)$ http://www.uni-passau.de/$1$2 [R=301,L]

#redirect all requests, that don't point to a file
#nur auf index.php umleiten, wenn es kein Verzeichnis und keine Datei ist (!-d und !-f)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond  %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]

