#alle dokumente auf index.php weiterleiten
#ausser wenn die Datei lokal existiert
AuthUserFile /var/www/unipassaumobil.zitroneneis.org/htdocs/UniGoesMobile/.htpasswd
AuthGroupFile /dev/null
AuthName "Masterarbeit: Mobile Website der Uni Passau, fuer Zugang: tinabeier at web.de"
AuthType Basic

<limit GET POST>
require valid-user
</limit>


RewriteEngine On
#Wir befinden uns im Unterverzeichnis UniGoesMobile und alle Links sind relativ zu diesem Verzeichnis angegeben
RewriteBase /UniGoesMobile/
Options +FollowSymLinks
RewriteRule ^$ website.html [R=301,L]
#statische Dateien der alten Website weiterleiten
RewriteRule ^(typo3|typo3temp|typo3conf|fileadmin|uploads)(.*)$ http://www.uni-passau.de/$1$2 [R=301,L]

#redirect all requests, that don't point to a file
#nur auf index.php umleiten, wenn es kein Verzeichnis und keine Datei ist (!-d und !-f)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond  %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]

