/*Content-pane*/

.android #content-pane{
    top:80px;
    bottom:0px;
}	

.android #favorites nav a.delete{		
    width: 32px;
    height: 32px;
    /*Graues x für delete-button:*/
    background: url('images/android/mdpi/5_content_remove.png') center no-repeat transparent;
    content:'';
}


/*Mainbar*/

.android #mainbar{
    position:fixed;
    left:0;
    right:0;
    top:0;
    height:48px;
    background-color: #ececec;
    border-bottom:1px solid #d7d7d7;	
    z-index:10;
    text-align: right;
}

.android #mainbar #sitetitle{
    float: left;	
    width:50%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    font-size:15px;
    padding-top: 7px;	
    text-align: left;
    background-color:transparent;
    color:black;
    text-shadow: none;
    font-weight:bold;
    display:block;
    padding:15px    0px;
}

.android #logo-icon img{
    margin:8px 4px;
    width: 50px;
}

.android #logo-icon{
    float: left;	
}	

.android #mainbar  > .button{
    display:inline-block;
}

.android #mainbar > .button > a{
    width: 32px;
    height: 32px;
    margin:8px 4px;
    display: block;
    text-decoration: none;
    background: url('images/android/sprite_android_mainbar.png');
    background-repeat: no-repeat;	
}

.android #more-container{
    position: absolute;
    right:0;
    top:48px;
    background-color:#efefef;
    display:none;
    box-shadow: -2px 2px 5px #aaa;
}

.android #more-container > div:first-child > a{
    border-top:none;
}

.android #more-container > div > a{
    color:black;
    text-decoration:none;
    display: block;
    padding:0 8px;
    min-width:144px;
    line-height: 48px;
    height:48px;
    border-top:1px solid #d7d7d7;
}

.android #mainbar  > .button > a > span{
    display: none;	
}	

.android #mainbar #more-icon > a, 
.android #mainbar #less-icon > a{
    background-position: -23px -260px;
}

.android #mainbar #search-icon > a{
    background-position: -28px -20px;	
}

.android #mainbar #content-icon > a{
    background-position: -23px -496px;
}
 
.android #search-area{
    position: absolute;
    width: 50%;
    padding: 8px;
    height:32px;
    left: 58px;
    background-color: #ececec;
}

.android #search-area > form > input[type="search"]{
    font-size:16px; 
    width: 100%;
}	

.android #search-area input[type="search"]{
    -webkit-appearance: none;	
    appearance: none;
    border:none;	
    border-bottom: 2px solid orange;
    background: transparent;
}

.android #search-area input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;	
    appearance: none;
}	

.android #search-area input[type="search"]::-webkit-search-cancel-button:after{	
    background-image: url('images/android/mdpi/1_navigation_cancel.png');
    content:'';
    display: block;	
    width:28px; 
    height:28px;	
    background-position: 0 0;
    background-repeat: no-repeat;
}

input[type="search"]:focus{
    border:none;
    outline:none;
    border-bottom: 2px solid orange;	
}


.android #more-container{
    text-align: left;
}	
/*Kein Icon, sondern Text, wenn die Icons in die Mehr Bar wandern*/
.android #mainbar #more-container a,
.android #mainbar #more-container a,
.android #mainbar #more-container a,
.android #mainbar #more-container a,
.android #mainbar #more-container a{
    background-image: none;		
}

/*sprice-icons positionieren*/
.android #mainbar #add-favorite-icon > a{
    background-position: -23px -100px;
}

.android #mainbar #add-favorite-icon.saved > a{
    background-position: -76px -100px;
}

.android #mainbar #favorites-icon > a{
    background-position: -23px -180px;
}

.android #mainbar #settings-icon > a{
    background-position:-23px -420px;
}

.android #mainbar #shortcuts-icon > a{
    background-position:  -23px -340px;
}


/*Auxbar*/

.android #auxbar{
    position:fixed;
    top:48px;
    left:0;
    right:0;
    background-color:#ececec;
}

.android #auxbar > .button{
    width: 50%;
    height: 32px;	
}
.android #auxbar a{
    text-decoration: none;
}
.android #auxbar > .button > a>span{
    display:block;

    width:100%;
    height:30px;

    border-bottom: 2px solid orange;
    border-left:1px solid #d7d7d7;

    font-size:14px;
    line-height:30px;	
    text-align: center;	
    color:grey;	
    text-decoration: none;
}

.android #auxbar > .btton:first-child span{
    border-left:none;	
}

.android #auxbar > .button{
    float: left;
}

.android #auxbar .button.active span{
    height:28px;
    border-bottom: 4px solid orange;
    color:black;
    text-decoration: none;
}

.android #bookmark-status{
    position: absolute;	
    max-width: 80%;
    max-height: 80%;
    margin:auto;
    padding:24px 24px 64px 24px;
    
    top:10%;
    right:10%;
    font-weight:bold;
    color:white;
    -moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    background-color: #666;	
}

.android #bookmark-status .button{
    display:block;
    border-top: 1px solid #999;
    color:white;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
    height:48px;
    line-height:48px;
}

/*Navigation-menu*/
.android #navigation-menu
{
    padding:0 0 20px 0;
    background-color:#e0e0e0;
}
.android .up-page-content-localnav li{
    border-bottom:1px dashed #acacac;
}

/*responsive Webdesign*/		
/* Für android-Geräte, deren aktuelle Bildschirmbreite mindestens 850px beträgt: */

@media (min-width: 850px){
    .android #auxbar{
        display: none;		
    }
    .android #content-pane{
        top: 48px;		
    }
    .android #content-pane #navigation-menu{
        border-right: 1px solid grey;
    }
}

