
/*Content-pane*/

.ios #content-pane{
    top:44px;
    bottom:48px;	
}



.ios #favorites nav a.delete{		
    display:block;
    width: 24px;
    height: 24px; 	
    background: url('images/ios/cancel-icon_white.png'), -moz-linear-gradient(-90deg, #da7d83, #da7d83 50%, #ca444e 50%, #ca444e);
    background: url('images/ios/cancel-icon_white.png'), -ms-linear-gradient(-90deg, #da7d83, #da7d83 50%, #ca444e 50%, #ca444e);
    background: url('images/ios/cancel-icon_white.png'), -o-linear-gradient(-90deg, #da7d83, #da7d83 50%, #ca444e 50%, #ca444e);
    background: url('images/ios/cancel-icon_white.png'), -webkit-gradient(linear, left top, left bottom, from(#da7d83), color-stop(0.5, #da7d83), color-stop(0.5, #ca444e), to(#ca444e));
    background: url('images/ios/cancel-icon_white.png'), linear-gradient(-90deg, #da7d83, #da7d83 50%, #ca444e 50%, #ca444e);
    border: 3px solid #fff;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0, 1);
    -ms-box-shadow: 0 2px 2px rgba(0,0,0, 1);
    -o-box-shadow: 0 2px 2px rgba(0,0,0, 1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0, 1);
    box-shadow: 0 2px 2px rgba(0,0,0, 1);
    background-position: center center;
    background-repeat: no-repeat;
    padding:0;
    margin:0;
}


/*Mainbar*/

.ios #mainbar{
    left:0;
    right:0;
    top:0;
    
    color:white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px;
    border-bottom: 1px solid #2a3441;
    padding: 6px 8px;
    height: 44px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #92a3b9), color-stop(50%, #7f93ad), color-stop(51%, #768ba7), color-stop(100%, #6d83a1));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), -webkit-linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
}	

.ios #sitetitle{
    position: absolute;	
    overflow: hidden;
    text-overflow: ellipsis;	
    white-space: nowrap;
    margin-left:30%;
    margin-right:20%;	
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    text-shadow: #5c718e 0 -1px 0;
    text-align: center;
    padding:0;
    background-color:transparent;
}	

.ios #mainbar .button a{
    display: block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
    border: 1px solid #2d3f57;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #50709a;
    background-image: -webkit-linear-gradient(top, #7c97bb, #5a7caa 50%, #50709a 51%, #476489);
}	

.ios #mainbar .button > a > span{
    display: none;	
}

.ios #mainbar  .button{
    display:inline-block;
}



.ios #mainbar #menu-icon a{
    background: url('images/ios/sprite_ios_auxbar.png') no-repeat -505px -17px, -webkit-linear-gradient(top, #7c97bb, #5a7caa 50%, #50709a 51%, #476489);
}

.ios #mainbar #menu-icon.active a{
    background: url('images/ios/sprite_ios_auxbar.png') no-repeat -505px -97px, -webkit-linear-gradient(top, #476489,  #50709a 50%,#5a7caa 51%,#7c97bb );
}

.ios #mainbar #add-favorite-icon a{
    background: url('images/ios/sprite_ios_auxbar.png') no-repeat -585px -17px, -webkit-linear-gradient(top, #7c97bb, #5a7caa 50%, #50709a 51%, #476489);
}

.ios #mainbar #add-favorite-icon.saved a{
    background: url('images/ios/sprite_ios_auxbar.png') no-repeat -585px -97px, -webkit-linear-gradient(top, #476489, #50709a  50%, #5a7caa 51%, #7c97bb);
}		

.ios #mainbar #logo-icon{		
    left: 47px;
    position: absolute;
    background-color: #fff;
    padding: 3px;
    top: 5px;
    border-radius: 4px;
}

.ios #logo-icon a > img{
    width: 50px;
}

.ios #add-favorite-icon{
    float:right;	
}		


/*Auxbar*/

.ios #auxbar{
    background-image: url('images/ios/bg_tabbar.png');
    background-repeat: repeat-x;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:48px;
}

.ios #auxbar .button{
    float:left;		
}

.ios #auxbar .button > a{
    display: block;	
    padding: 7px 0;	
    border-right: 1px solid grey;
}	

.ios #auxbar .button.active{
    background-image: url('images/ios/bg_tabbar_activebutton.png');	
    background-repeat: repeat-x;	
}	

.ios #auxbar .button.active > a > span{
    color: white;	
}	

.ios #auxbar .button > a > span{
    color: grey;	
    text-decoration: none;
    text-align: center;
    background-repeat: no-repeat;
    padding-top: 25px;
    display: inline-block;
    font-size: 10px;
    width: 78px;
    font-weight: bold;
    background-image: url('images/ios/sprite_ios_auxbar.png');
    background-repeat: no-repeat;

}	

.ios #auxbar .button.active > a > span{
    background-image: url('images/ios/sprite_ios_auxbar.png');
    background-repeat: no-repeat;
}


.ios #search-icon.button.active > a > span{
    background-position: -80px -97px;
}

.ios #search-icon > a > span{
    background-position: -80px -17px;
}

.ios #search-area  input[type="search"]{
    font-size:16px;  
    width: 100%;
}	

/*TODO:in den nachfolgenden 3 styles aufräumen!!*/	
.ios #search-area input[type="search"]{
    /*Original-Selektor: .ui-body-c, .ui-overlay-c.ui-body-c, .ui-overlay-c*/
    color: #333 /*{c-body-color}*/;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;	

    /*Original-Selektor: .ui-body-c, .ui-overlay-c.ui-body-c, .ui-overlay-c*/
    color: #333 /*{c-body-color}*/;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;

    /*Original-Selektor: .ui-body-c, .ui-overlay-c*/
    border: 1px solid #aaa /*{c-body-border}*/;
    color: #333 /*{c-body-color}*/;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
    background: #f9f9f9 /*{c-body-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #eee /*{c-body-background-end}*/));
    background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eee /*{c-body-background-end}*/);
    background-image: -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eee /*{c-body-background-end}*/);
    background-image: -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eee /*{c-body-background-end}*/);
    background-image: -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eee /*{c-body-background-end}*/);
    background-image: linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eee /*{c-body-background-end}*/);

    /*Original-Selektor: .ui-btn-corner-all*/
    -moz-border-radius: 1em /*{global-radii-buttons}*/;
    -webkit-border-radius: 1em /*{global-radii-buttons}*/;
    border-radius: 1em /*{global-radii-buttons}*/;

    /*Original-Selektor: .ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all, .ui-btn-corner-tl, .ui-btn-corner-tr, .ui-btn-corner-bl, .ui-btn-corner-br, .ui-btn-corner-top, .ui-btn-corner-bottom, .ui-btn-corner-right, .ui-btn-corner-left, .ui-btn-corner-all */
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    /*Original-Selektor: .ui-shadow-inset*/
    -moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);

    /*Original-Selektor: input.ui-input-text, textarea.ui-input-text, .ui-input-search*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    /*Original-Selektor: .ui-input-search*/
    padding: 0 2px 0 16px;
    margin: .5em 0;
    /*background-image: none;*/
    position: relative;
    height: 32px;
}

.ios #search-area input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    /*Original-Selektor: .ui-icon, .ui-icon-searchfield::after*/
    background: #666 /*{global-icon-color}*/;
    background: rgba(0,0,0,.4) /*{global-icon-disc}*/;
    background-image: url(images/ios/icons-18-white.png) /*{global-icon-set}*/;
    background-repeat: no-repeat;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    width:22px;
    height:22px;

    /*Original-Selektor: .ui-icon-delete*/
    background-position: -71px 50%;
    pointer:cursor;
}



.ios #more-container.active{
    display: block;	
}	


.ios #less-icon.button.active{
    background-image: url('images/ios/bg_tabbar_activebutton.png');
    background-repeat: repeat-x;
}

.ios #more-icon.button.active > a > span,
.ios #less-icon.button.active > a > span{
    background-position: -400px -97px;
}

.ios #less-icon > a > span,
.ios #more-icon > a > span{
    background-position: -400px -17px;
}

.ios #more-container{
    position: fixed;
    left:0;
    bottom:0;
    height: 48px; 
    right:0;
    background-image: url('images/ios/bg_tabbar.png');
    background-repeat: repeat-x;
    display:none;
}


.ios #favorites-icon.button.active > a > span{
    background-position: -240px -97px;
}			

.ios #favorites-icon > a > span{
    background-position: -240px -17px;
}	

.ios #shortcuts-icon.button.active > a > span{
    background-position: -160px -97px;
}		

.ios #shortcuts-icon > a > span{
    background-position: -160px -17px;
}	

.ios #content-icon.button.active > a > span{
    background-position: 0px -97px;
}	

.ios #content-icon > a > span{
    background-position: 0px -17px;
}

.ios #settings-icon.button.active > a > span{
    background-position: -320px -97px;
}

.ios #settings-icon > a > span{
    background-position: -320px -17px;
}


/*Footer*/

.ios #footer{
    bottom:48px;
}
/*Overlay-pane*/
.ios #overlay-pane > div {
    color:white;
    padding:24px;
}
.ios #overlay-pane #navigation-menu{
    position: absolute;	
    width: 80%;
    height: 80%;
    top: 45px;
    left:10px;
    -moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0.8);			
}


.ios #bookmark-status{
    position: absolute;	
    max-width: 80%;
    max-height: 80%;
    top:10%;
    right:10%;
    font-weight:bold;
    -moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0.8);	
}

.ios #overlay-pane #navigation-menu::after{
    content: '';	
    position: absolute;
    overflow: hidden;	
    width: 28px;
    height: 28px;
    top:-20px ;
    left:0;
    display: block;
    background-image:url('images/ios/arrow.png');
}

.ios #overlay-pane #navigation-menu > nav{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;	
    overflow: auto;
    margin:0;
}	

.ios #overlay-pane > div .close{
    /*Schwarzer Kreis für cancel-button:*/
    position: absolute;	
    display:block;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border: 4px solid white;
    /*Weißes x für cancel-button:*/
    background-image: url('images/ios/close-icon_white.png');
    background-position: center center;
    background-repeat: no-repeat;
    content:'';
    z-index: 100;
    right: -12px;
    top: -12px;
    background-size: 16px;
    /*-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    box-shadow: 0px 0px 12px rgba(0,0,0,.6);*/
    cursor: pointer;
    margin:0;
    padding:0;
}

.ios nav a,
.ios nav span{	
    -webkit-border-radius: 8px;
    border-radius: 8px;		
    -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
    border: 1px solid #acacac;
    margin: 4px 4px; 	
    padding-right:25px;
}


.ios #overlay-pane #navigation-menu nav{
    overflow: none;
    margin:0;
    padding:0;
}
/*TODO: nachfolgende styles beinhalten die Verläufe für den Hintergrund der buttons in ios-menüs
um diese anzuwenden müssen aber noch die Pfeil-Bilder aus dem uni-sprite als zweites back-
ground-image neben jeden einzelnen Verlauf gesetzt werden*/

/*.ios .up-page-content-localnav-L1-item a {
        background: rgb(224,224,224); 
        background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(239,239,239,1) 50%, rgba(232,232,232,1) 51%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(50%,rgba(239,239,239,1)), color-stop(51%,rgba(232,232,232,1)), color-stop(100%,rgba(255,255,255,1))); 
        background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(239,239,239,1) 50%,rgba(232,232,232,1) 51%,rgba(255,255,255,1) 100%); 
        background: -o-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(239,239,239,1) 50%,rgba(232,232,232,1) 51%,rgba(255,255,255,1) 100%); 
        background: -ms-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(239,239,239,1) 50%,rgba(232,232,232,1) 51%,rgba(255,255,255,1) 100%); 
        background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(239,239,239,1) 50%,rgba(232,232,232,1) 51%,rgba(255,255,255,1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 ); 
        }
        
.ios .up-page-content-localnav-L2-item a {
        background: rgb(240,239,239);
        background: -moz-linear-gradient(top, rgba(240,239,239,1) 0%, rgba(255,254,254,1) 50%, rgba(248,247,247,1) 51%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,239,239,1)), color-stop(50%,rgba(255,254,254,1)), color-stop(51%,rgba(248,247,247,1)), color-stop(100%,rgba(255,255,255,1))); 
        background: -webkit-linear-gradient(top, rgba(240,239,239,1) 0%,rgba(255,254,254,1) 50%,rgba(248,247,247,1) 51%,rgba(255,255,255,1) 100%); 
        background: -o-linear-gradient(top, rgba(240,239,239,1) 0%,rgba(255,254,254,1) 50%,rgba(248,247,247,1) 51%,rgba(255,255,255,1) 100%); 
        background: -ms-linear-gradient(top, rgba(240,239,239,1) 0%,rgba(255,254,254,1) 50%,rgba(248,247,247,1) 51%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(240,239,239,1) 0%,rgba(255,254,254,1) 50%,rgba(248,247,247,1) 51%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0efef', endColorstr='#ffffff',GradientType=0 );
        }

.ios .up-page-content-localnav-L3-item-act a {
        background: rgb(248,248,248);
        background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,254,254,1) 50%, rgba(250,250,250,1) 51%, rgba(255,255,255,1) 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(50%,rgba(255,254,254,1)), color-stop(51%,rgba(250,250,250,1)), color-stop(100%,rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,254,254,1) 50%,rgba(250,250,250,1) 51%,rgba(255,255,255,1) 100%); 
        background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,254,254,1) 50%,rgba(250,250,250,1) 51%,rgba(255,255,255,1) 100%); 
        background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,254,254,1) 50%,rgba(250,250,250,1) 51%,rgba(255,255,255,1) 100%); 
        background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(255,254,254,1) 50%,rgba(250,250,250,1) 51%,rgba(255,255,255,1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 );
        }
        
.ios .up-page-content-localnav-L1-item-cur span,
.ios .up-page-content-localnav-L2-item-cur span,
.ios .up-page-content-localnav-L3-item-cur span,
.ios .up-page-content-localnav-L4-item-cur span {
        background: rgb(254,237,215);
        background: -moz-linear-gradient(top, rgba(254,237,215,1) 0%, rgba(255,254,254,1) 50%, rgba(255,245,223,1) 51%, rgba(255,255,255,1) 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,237,215,1)), color-stop(50%,rgba(255,254,254,1)), color-stop(51%,rgba(255,245,223,1)), color-stop(100%,rgba(255,255,255,1))); 
        background: -webkit-linear-gradient(top, rgba(254,237,215,1) 0%,rgba(255,254,254,1) 50%,rgba(255,245,223,1) 51%,rgba(255,255,255,1) 100%); 
        background: -o-linear-gradient(top, rgba(254,237,215,1) 0%,rgba(255,254,254,1) 50%,rgba(255,245,223,1) 51%,rgba(255,255,255,1) 100%); 
        background: -ms-linear-gradient(top, rgba(254,237,215,1) 0%,rgba(255,254,254,1) 50%,rgba(255,245,223,1) 51%,rgba(255,255,255,1) 100%); 
        background: linear-gradient(to bottom, rgba(254,237,215,1) 0%,rgba(255,254,254,1) 50%,rgba(255,245,223,1) 51%,rgba(255,255,255,1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feedd7', endColorstr='#ffffff',GradientType=0 ); 
        }
*/


/*responsive Webdesign*/	
/* Für ios-Geräte, deren aktuelle Bildschirmbreite mindestens 850px beträgt: */

@media (min-width: 850px){
    .ios #content-pane{
        top: 44px;
        bottom:48px;		
    }
    .ios #navigation-menu .close{
        display:none;		
    }
    .ios #navigation-menu nav{
        left:0;
        top:0;		
    }
    .ios #navigation-menu::after{
        background:none;			
    }
}