.up-page-content-localnav > nav ul:first-child > a {
  background-image: none;  
}
#up-content-top {
    height: 1px;
    display: block;
    outline: none;
    overflow: hidden;
    width: 1px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.csc-default:first-child {margin-top:0px;}
.csc-default h1 {width:auto;}
.csc-default strong a {color:#fd8900;}