/*Content-pane*/
#content-pane > div{	
	display: none;	
	}

#content-pane > div.active{
	display: block;	
	}

/*Overlay pane*/
#overlay-pane{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: transparent;
	z-index: 100;
	display:none;	
	top:0;
	left:0;
	}
	
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
