/*Allgemeine styles, die für ios und android gelten sollen:*/

#mainbar,#auxbar{
    position: absolute;
}

#controls{
    display: none;
}


/*Content-pane*/

#content-pane{	
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#content-pane > div{	

    background-color:white;
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
    padding:10px 10px 30px 10px;
    

}

#content-pane > div.active{
    display: block;	
}


#favorites nav li{
    position:relative;
}
#favorites nav a.delete{
    position: absolute;
    right:48px;		
    top:8px;
}


/*Overlay pane*/

#overlay-pane{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: transparent;
    display:none;	

}

#overlay-pane > div{
    display:none;
}
#overlay-pane > div.active {
    display: block;	
}
.overthrow-enabled .overthrow{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:20px;
    padding:10px;
    background: url('images/common/bg_footer.png') bottom center repeat-x transparent;
    
}

#footer > div{
    float:right;
    margin-top:10px;
    font-size:10px;
    margin-right:10px;
}

#footer #copyright{
    float:left;	
    
}

#navigation-menu ul{
    margin:0;
    padding:0;
}


/*responsive Webdesign*/	
/* Für ios- und android-Geräte, deren aktuelle Bildschirmbreite mindestens 850px beträgt:*/	

@media (min-width: 850px){
    #mainbar #menu-icon, 
    #auxbar #menu-icon{
        display:none;		
    }
    .ios #content-pane #navigation-menu,
    .android #content-pane #navigation-menu{
        display: block;
        width: 25%;		
        z-index: 1;
        padding:0 0 30px 0;
        margin:0;
        
        left:0;
        top:0;
        bottom: 0;
        
    }
    .ios #content-pane > div,
    .android #content-pane > div{
        left:25%;
        padding-left:10px;
        width:auto;	
    }	
    .ios.overthrow-enabled #content-pane > div,
    .android.overthrow-enabled #content-pane > div{	
        left:25%;
        width: auto;
        background-color:white;
        overflow: auto;
    }
    .ios #content-pane #content,
    .android #content-pane #content{
        display: block;	
    }
}
